.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#nav-div{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color:rgb(2, 4, 13, 0.1);
}

#title {
  font-size: 32px;
  color: white;
}

footer{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color:rgb(2, 4, 13, 0.1);
}

#footer-note{
  font-size: 16px;
  color: white;
}
